* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Arial;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    font-weight: 400;
}

.card-container {
    width: 340px;
    height: 573px;
    padding: 25px;
    background-color: #F7F7Fa;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: 2px 2px 10px 0px #5150761A;
    list-style: none;
}

.product-category {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
    display: block;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}

.product-description {
    margin-bottom: 15px;
}

.product-compound {
    margin-top: 5px;
    list-style: circle;
    margin-bottom: 25px;
}

.product-compound-item {
    margin-left: 14px;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
}

.product-price-label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.product-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 110px;
    margin-bottom: 116px;
    gap: 45px;
    position: relative;
}

.product-title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin-bottom: 110px;
    margin-top: 220px;
    text-align: center;
    color: #515076;
}

.background-image {
    width: 100%;
    height: 100%;
    background-image: url("images/flowers-background.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    left: 175px;
    z-index: -1;
    background-size: 790px 697px;
}

.red-color-button {
		background-color: red;
}

#paint-color-first-card {
		background-color: #0e299e0e;
		border: 2px solid rgba(5, 15, 124, 0.384);
		color: rgb(0, 42, 140);
		padding: 4px 4px;
		text-align: center;
		text-decoration: none;
		font-size: 15px;
}

#paint-color-all-cards {
		background-color: #0e299e0e;
		border: 2px solid rgba(5, 15, 124, 0.384);
		color: rgb(0, 42, 140);
		padding: 4px 4px;
		text-align: center;
		text-decoration: none;
		font-size: 15px;
}

#open-google {
		background-color: #0e299e0e;
		border: 2px solid rgba(5, 15, 124, 0.384);
		color: rgb(0, 42, 140);
		padding: 4px 4px;
		text-align: center;
		text-decoration: none;
		font-size: 15px;
}

#output-console-log {
		background-color: #0e299e0e;
		border: 2px solid rgba(5, 15, 124, 0.384);
		color: rgb(0, 42, 140);
		padding: 4px 4px;
		text-align: center;
		text-decoration: none;
		font-size: 15px;
}

#change-color-button {
		background-color: #0e299e0e;
		border: 2px solid rgba(5, 15, 124, 0.384);
		color: rgb(0, 42, 140);
		padding: 4px 4px;
		text-align: center;
		text-decoration: none;
		font-size: 15px;
}
